# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
*.log
local_settings.py

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Static / media collected files
staticfiles/
mediafiles/
